body {
    background: #fafafa;
    color: #333333;
}

.site-header .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.site-header .navbar-brand {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.alert {
    margin: 20px 0;
}
