{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <div class="border-top pt-3">
            <a class="btn btn-secondary" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
        </div>
    </div>
{% endblock content %}
